.form {
    margin-top: 84px;
}

.test {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form__btn-row {
    display: flex;
    gap: 8px;
    margin-bottom: 40px;
}

.form__btn-row input,
.form__btn-row button {
    padding: 5px 26px;
    line-height: 120%;
    border-radius: 4px;
}

.form__btn-row input {
    padding: 5px 26px;
    border: 1px solid var(--mainLightGreyColor);
    line-height: 20px;
    text-align: center;
}

.form__btn-row button {
    font-weight: 500;
    color: var(--mainWhiteColor);
    background: var(--mainBlueColor);
}

.form__btn-row button:hover {
    background: #536976;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    cursor: pointer;
}

.personal-info__columns,
.columns {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 24px;

}

.form__column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px 0px;
}

fieldset {
    margin-top: 64px;
}

.text {
    font-size: 16px;
    line-height: 22px;
    color: var(--mainTextColor);
    margin-bottom: 24px;
}

.contacts__info {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.contacts__info-row {
    display: flex;
}

.subtitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: var(----mainTextColor);
    margin: 40px 0px 24px;
}

.payment__card {
    max-width: 802px;
    padding: 24px;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    z-index: 2;
    transition: 0.04s ease-in-out;
}

.payment__card:hover {
    transform: scale(1.05);
}

.form__comments {
    display: flex;
}

.form__comments-input {
    display: flex;
    height: 184px;
    width: 100%;
    padding: 18px 16px;
    border: 1px solid #000101;
    border-radius: 8px;
    resize: none;
}

.form__comments-input::placeholder {
    line-height: 20px;
    color: var(--mainInputTextColor);
}

.form__comments-input:focus {
    outline: none;
    border: 1px solid var(--mainBlueColor);
}


/*  Spoilers -------------------------*/

.contsiner-content {
    overflow: hidden;
    max-height: 0px;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.active+.container-content {
    max-height: 1000px;
    padding: 25px 10px;
    opacity: 1;
}

.spoiler__title {
    border: 1px solid var(--mainInputBorderColor);
    padding: 16px;
    width: 100%;
    font-size: 26px;
    margin: 0;
}

.container_title.active {
    cursor: pointer;
    background-color: var(--mainHoverBgdColor);
}

.container_title.active:after,
.container_title:after {
    content: url('../../images/arrow-down.svg');
    float: right;
    font-size: 20px;
    cursor: pointer;

}

.form__container {
    border: 1px solid var(--mainInputBorderColor);
    border-radius: 8px;
}

.container {
    width: 100%;
}

/* Media ------------------------- */

@media(max-width: 840px) {
    .contacts__info {
        display: flex;
        flex-direction: column;
    }

    .contacts__info-row {
        flex-direction: column;
        gap: 24px;
    }

    .input-left,
    .input-right {
        border-radius: 6px;
    }

    .passport__row {
        font-size: 14px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media(max-width: 650px) {
    fieldset {
        margin: 0;
    }
}

@media(max-width: 520px) {
    .title.spoiler__title {
        font-size: 15px;
        margin: 10px 0 0 0;
        padding: 12px 10px;
    }

    .btn-row__text,
    button.btn-row__button {
        font-size: 14px;
        padding: 6px 4px;
    }

    .form__btn-row.btn-row {
        display: flex;
        flex-direction: column;
    }

    .contacts__text.text {
        font-size: 14px;
    }
    .personal-info__columns, .columns {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        /* gap: 24px; */
    }
}